# Python Crash Course!
***
**Instructions**

Most of the concepts introduced below should be familiar, but Python's syntax may not be. You should use online resources to work through this.

Specifically, start here: https://www.w3schools.com/python/

For each section, write Python code that demonstrates the concept.

## Output

You may recall console.log() from JavaScript. The Python equivalent is print().
In the cell below, print "Hello World!"

Did you use single-quotes or double? Why? Does it matter?

## Comments

Put a comment in the code cell below and run it, making sure nothing happens.

## Variables

Create two variables, one that stores your year or birth and another that stores your name. 
Print something like this on one line: "My name is Bob and I was born in 1987."

*Hint: you will need to cast the int into a string.*

## Data Types

Use the type() function to print out the datatypes of each of your variables from above.

Have a look at https://www.w3schools.com/python/python_datatypes.asp

We will not use every data type in this class, but we will use many! These are the ones you should be familiar with:
- Text Type:	str
- Numeric Types:	int, float
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set
- Boolean Type:	bool

Create a variable called n and assign 17 divided by 2 to it, then output the value of n.

*Pro tip- If you want to output just one variable in a Notebook cell, you don't need print(). Just state the variable!*

Now do the same thing, but cast the quotient into an int before outputting.

## Strings

Run the following cell to initialize a string variable that we will use.

In [1]:
s = "I would rather be rich than stupid."

### Accessing Characters of a String

Using the variable and the [ ] accessor notation, print the letter "d" from the string.

### Looping through a String & String Length

Using a loop, print each character of the string on a separate line. Then, print the length of the string.

### Checking for Substrings

Programmatically check that the substring "rich" is in the string and the substring "smart" is not in the string.

### Slicing Strings

Use the string to print "I would" using a slice. (Notice that the second number in a slice is an index that is not included in the result.)

### Modifying Strings

Using the string from above, create a new string called "loud" that is an uppercase version of the original. Output both strings to ensure that the original was not modified.

### String Methods

Take the original string and replace the word "rich" with "smart". Output the string to show that it was modified.

*Hint: look for string methods in the w3schools reference*

Read through all the string methods that are shown on https://www.w3schools.com/python/python_strings_methods.asp so that you are aware of their existence!

### Formatted String Literals

There is a new-ish way to avoid ugly string concatenations. For example, run the following cell:

In [2]:
name = "Mr. Gorton"

new_string = f"{name}, thank you!"
new_string

'Mr. Gorton, thank you!'

You can use whatever you prefer, but f-strings are sometimes cleaner when you have a few items to concatenate.