In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from pandas_profiling import ProfileReport
LC = pd.read_csv('survey lung cancer.csv')

In [15]:
LC

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

#### 2 = yes 1 = no

## cleaning data

In [9]:
for col in LC.columns:
    pct_missing = np.mean(LC[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

GENDER - 0%
AGE - 0%
SMOKING - 0%
YELLOW_FINGERS - 0%
ANXIETY - 0%
PEER_PRESSURE - 0%
CHRONIC DISEASE - 0%
FATIGUE  - 0%
ALLERGY  - 0%
WHEEZING - 0%
ALCOHOL CONSUMING - 0%
COUGHING - 0%
SHORTNESS OF BREATH - 0%
SWALLOWING DIFFICULTY - 0%
CHEST PAIN - 0%
LUNG_CANCER - 0%

In [16]:
LC = LC.replace([1],0)
LC = LC.replace([2],1)

In [17]:
LC['LUNG_CANCER'] = LC['LUNG_CANCER'].replace(['YES'],1)
LC['LUNG_CANCER'] = LC['LUNG_CANCER'].replace(['NO'],0)

In [32]:
LC.rename(columns = {"ALCOHOL CONSUMING":"ALCOHOL_CONSUMING", "CHRONIC DISEASE":"CHRONIC_DISEASE","SHORTNESS OF BREATH":"SHORTNESS_OF_BREATH", "SWALLOWING DIFFICULTY":"SWALLOWING_DIFFICULTY","CHEST PAIN":"CHEST_PAIN"}, inplace = True)

In [33]:
LC

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC_DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL_CONSUMING,COUGHING,SHORTNESS_OF_BREATH,SWALLOWING_DIFFICULTY,CHEST_PAIN,LUNG_CANCER
0,M,69,0,1,1,0,0,1,0,1,1,1,1,1,1,1
1,M,74,1,0,0,0,1,1,1,0,0,0,1,1,1,1
2,F,59,0,0,0,1,0,1,0,1,0,1,1,0,1,0
3,M,63,1,1,1,0,0,0,0,0,1,0,0,1,1,0
4,F,63,0,1,0,0,0,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,0,0,0,1,1,1,0,0,1,1,1,1,0,1
305,M,70,1,0,0,0,0,1,1,1,1,1,1,0,1,1
306,M,58,1,0,0,0,0,0,1,1,1,1,0,0,1,1
307,M,67,1,0,1,0,0,1,1,0,1,1,1,0,1,1
308,M,62,0,0,0,1,0,1,1,1,1,0,0,1,0,1

### are people who drink AND Smoke more likely to have cancer?

In [35]:
cancer = LC.loc[LC.LUNG_CANCER == 1]
nocancer = LC.loc[LC.LUNG_CANCER == 0]

#### cancer data

In [36]:
Ccat = cancer[['SMOKING', 'ALCOHOL_CONSUMING']]
Ccat

     SMOKING  ALCOHOL_CONSUMING
0          0                  1
1          1                  0
5          0                  0
6          1                  1
7          1                  0
..       ...                ...
304        0                  1
305        1                  1
306        1                  1
307        1                  1
308        0                  1

[270 rows x 2 columns]

In [44]:
Csmoke= Ccat.loc[Ccat.SMOKING == 1]
Cdrinksmoke= Csmoke.loc[Csmoke.ALCOHOL_CONSUMING == 1]
Cdrinksmoke

     SMOKING  ALCOHOL_CONSUMING
6          1                  1
9          1                  1
13         1                  1
16         1                  1
17         1                  1
..       ...                ...
295        1                  1
298        1                  1
305        1                  1
306        1                  1
307        1                  1

[90 rows x 2 columns]

In [67]:
#groupCDS = Cdrinksmoke.groupby(["SMOKING","ALCOHOL_CONSUMING"]).count()
#Csmokesum = Cdrinksmoke['SMOKING'].sum()
#Cdrinksum = Cdrinksmoke['ALCOHOL_CONSUMING'].sum()
totalYES = Csmokesum + Cdrinksum
totalYES

180

In [66]:
#colors = ['#FEC8D8','#F2ECCE','#FCFADE','#E0BBE4','#A6E1EA','#E2FAC3','#FFDBDB','#EBD7D9','#BAD8D8','#FFDEA6']
#explode = (0, 0, 0, 0, 0, 0 ,0, 0, 0, 0.1)
pieYES = totalYES.plot.pie(title = "Drinking and Smoking", y='totalYES', figsize=(15, 15),autopct='%1.1f%%')
pieYES

KeyError: 'groupCDS'

#### no cancer data

In [45]:
Ncat = nocancer[['SMOKING', 'ALCOHOL_CONSUMING']]
Ncat

     SMOKING  ALCOHOL_CONSUMING
2          0                  0
3          1                  1
4          0                  0
8          1                  0
12         1                  0
14         1                  1
19         0                  0
22         1                  0
27         0                  0
29         0                  1
30         1                  0
32         1                  0
34         0                  0
37         0                  0
49         0                  1
61         0                  0
80         0                  0
129        0                  0
153        1                  0
154        1                  0
156        1                  0
157        1                  0
159        0                  1
171        0                  0
183        1                  0
207        1                  0
215        0                  0
221        0                  1
245        0                  0
249        1                  0
262        0                  0
266        1                  0
270        1                  0
272        1                  1
277        0                  0
280        1                  0
281        1                  0
282        0                  0
286        0                  0

In [46]:
Nsmoke= Ncat.loc[Ncat.SMOKING == 0]
Ndrinksmoke= Nsmoke.loc[Nsmoke.ALCOHOL_CONSUMING == 0]
Ndrinksmoke

     SMOKING  ALCOHOL_CONSUMING
2          0                  0
4          0                  0
19         0                  0
27         0                  0
34         0                  0
37         0                  0
61         0                  0
80         0                  0
129        0                  0
171        0                  0
215        0                  0
245        0                  0
262        0                  0
277        0                  0
282        0                  0
286        0                  0