# Data Science Lesson - Getting Data
---
### Reading from CSV files
A comma-separated values (CSV) file is a very common, generic file format used for data storage and transfer.
There is the "vanilla" Python way to get data out of a CSV, and there is the pandas way.
See https://realpython.com/python-csv/ to determine which you prefer. :)

Open your Google Sheets file of people data from the last lesson. Use File > Download to get a CSV locally and place it in the same directory as this notebook. Rename it "people.csv".

Now, import pandas as pd and use the .read_csv function to read the contents of people.csv into a pandas dataframe. Output the dataframe to see what it looks like.

In [3]:
import pandas as pd


ppl = pd.read_csv('people.csv')
ppl

      name   gpa  friends      sports  height       shoes
0   dakota  3.15      307  basketball  72 in.     sneaker
1   hayden  3.50      335      tennis  68 in.  flip-flops
2  charlie  1.10       34    baseball  61 in.  flip-flops
3   kamryn  2.18      200      soccer  66 in.       shoes
4  emerson  3.06      213      soccer  65 in.       shoes
5   jessie  2.41      202  basketball  61 in.  flip-flops
6   sawyer  2.96      314      tennis  67 in.  flip-flops
7   london  3.98      436      soccer  64 in.       shoes

**Question:** What's a DataFrame?

**Answer:** It's our new best friend!

Now that you have data in a pandas dataframe, use .info() to get details about the columns.

In [4]:
ppl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0    name    8 non-null      object
 1   gpa      8 non-null      float64
 2   friends  8 non-null      int64
 3   sports   8 non-null      object
 4   height   8 non-null      object
 5   shoes    8 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 512.0+ bytes

And now use .describe() to get a lot more useful informations.

In [5]:
ppl.describe()

            gpa    friends
count  8.000000    8.00000
mean   2.792500  255.12500
std    0.888349  120.58481
min    1.100000   34.00000
25%    2.352500  201.50000
50%    3.010000  260.00000
75%    3.237500  319.25000
max    3.980000  436.00000

## Weather Data
From https://github.com/fivethirtyeight/data/tree/master/us-weather-history we can get weather data as CSV files from many different airports.

Download a CSV file from the above site. (Make sure to pick one that no one else chooses.) You'll need to view the "raw" page and save the file locally as a .csv (not .txt)

Then, read the file into a dataframe and output it to verify.

In [16]:
weather = pds.read_csv('KIND.csv')
weather

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,76,66,86,66,85,48,97,1885,1970,0.13,0.16,5.09
1,2014-7-2,71,63,79,66,85,50,99,1904,1970,0.00,0.16,4.50
2,2014-7-3,67,60,73,66,85,49,100,1968,1911,0.00,0.15,1.89
3,2014-7-4,67,54,79,66,85,48,103,1968,1911,0.00,0.15,2.40
4,2014-7-5,69,59,79,66,85,49,103,1972,2012,0.00,0.16,3.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,71,66,76,65,85,49,102,1979,1954,1.57,0.14,3.09
361,2015-6-27,66,60,72,65,85,48,100,1926,1934,0.00,0.14,2.79
362,2015-6-28,67,55,78,65,85,50,104,1950,2012,0.09,0.15,1.65
363,2015-6-29,70,63,77,65,85,48,103,1923,2012,0.21,0.14,1.63
364,2015-6-30,73,64,82,65,85,46,97,1943,1933,0.00,0.14,1.50

Get the info for the data set.

In [9]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   365 non-null    object
 1   actual_mean_temp       365 non-null    int64
 2   actual_min_temp        365 non-null    int64
 3   actual_max_temp        365 non-null    int64
 4   average_min_temp       365 non-null    int64
 5   average_max_temp       365 non-null    int64
 6   record_min_temp        365 non-null    int64
 7   record_max_temp        365 non-null    int64
 8   record_min_temp_year   365 non-null    int64
 9   record_max_temp_year   365 non-null    int64
 10  actual_precipitation   365 non-null    float64
 11  average_precipitation  365 non-null    float64
 12  record_precipitation   365 non-null    float64
dtypes: float64(3), int64(9), object(1)
memory usage: 37.2+ KB

And now describe the data.

In [10]:
weather.describe()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,51.391781,42.241096,60.002740,43.928767,62.512329,20.191781,84.252055,1946.917808,1949.065753,0.105726,0.116274,1.999452
std,20.110749,19.796685,20.853163,16.016831,17.747093,23.406499,12.880560,38.233936,37.347728,0.262458,0.025210,0.829822
min,2.000000,-7.000000,9.000000,20.000000,35.000000,-27.000000,59.000000,1872.000000,1871.000000,0.000000,0.070000,0.650000
25%,35.000000,27.000000,42.000000,29.000000,45.000000,-2.000000,72.000000,1915.000000,1926.000000,0.000000,0.100000,1.480000
50%,54.000000,44.000000,64.000000,44.000000,65.000000,24.000000,86.000000,1958.000000,1949.000000,0.000000,0.110000,1.840000
75%,70.000000,60.000000,79.000000,60.000000,80.000000,41.000000,96.000000,1977.000000,1977.000000,0.070000,0.130000,2.360000
max,81.000000,73.000000,93.000000,66.000000,85.000000,54.000000,106.000000,2015.000000,2013.000000,1.910000,0.180000,7.200000

Take a look at the mean and std of the actual_mean_temp. That's the average temperature of the airport over the whole year, and the standard deviation. Compare with others to see if you can tell whose airports are more temperate and more volatile. Then look up the airport by its code and see if your observations make sense.

## Reading directly from the web
We can also get CSV directly from the web without saving the file locally. Note that this creates a dependency on the host of data. If that resource is moved (or removed) our script will stop functioning.

Try getting data on surnames from here: https://raw.githubusercontent.com/fivethirtyeight/data/master/most-common-name/surnames.csv

Then, investigate the data using pandas tools we just learned.

In [15]:
surnames = pdss.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/most-common-name/surnames.csv')
surnames

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2376206,880.85,880.85,73.35,22.22,0.4,0.85,1.63,1.56
1,JOHNSON,2,1857160,688.44,1569.30,61.55,33.8,0.42,0.91,1.82,1.5
2,WILLIAMS,3,1534042,568.66,2137.96,48.52,46.72,0.37,0.78,2.01,1.6
3,BROWN,4,1380145,511.62,2649.58,60.71,34.54,0.41,0.83,1.86,1.64
4,JONES,5,1362755,505.17,3154.75,57.69,37.73,0.35,0.94,1.85,1.44
...,...,...,...,...,...,...,...,...,...,...,...
151666,YOUSKO,150436,100,0.04,89752.93,99,(S),0,0,0,(S)
151667,ZAITSEV,150436,100,0.04,89753.04,92,(S),0,0,7,(S)
151668,ZALLA,150436,100,0.04,89753.11,99,(S),0,0,0,(S)
151669,ZERBEY,150436,100,0.04,89753.30,99,(S),0,0,0,(S)
151670,ZITTERICH,150436,100,0.04,89753.48,98,(S),0,0,0,(S)

In [12]:
surnames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151671 entries, 0 to 151670
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          151670 non-null  object
 1   rank          151671 non-null  int64
 2   count         151671 non-null  int64
 3   prop100k      151671 non-null  float64
 4   cum_prop100k  151671 non-null  float64
 5   pctwhite      151671 non-null  object
 6   pctblack      151671 non-null  object
 7   pctapi        151671 non-null  object
 8   pctaian       151671 non-null  object
 9   pct2prace     151671 non-null  object
 10  pcthispanic   151671 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 12.7+ MB

In [20]:
surnames.describe()

                rank         count       prop100k   cum_prop100k
count  151671.000000  1.516710e+05  151671.000000  151671.000000
mean    75649.497781  1.596357e+03       0.591744   82520.575351
std     43614.414271  1.633875e+04       6.056723    8902.405422
min         1.000000  1.000000e+02       0.040000     880.850000
25%     37881.000000  1.430000e+02       0.050000   80519.250000
50%     75695.000000  2.370000e+02       0.090000   85509.670000
75%    113519.000000  5.510000e+02       0.200000   88079.475000
max    150436.000000  2.376206e+06     880.850000   89753.560000

In [24]:
surnames.loc[surnames['name'] == 'SHELL']

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
2522,SHELL,2523,13143,4.87,51790.06,77.39,18.17,0.44,1.34,1.37,1.29