# Data Science Lesson - Data Structures
---
**Question: How do we represent our Stick Figure Google Sheet (table) in a Python variable?**

### List of Dictionaries

Represent each person as a dictionary, and stote them all in a list. Output the list to verify.

In [38]:
stick_figures= [ {
    'name' : 'dakota',
    'gpa' : 3.15,
    'friends' : 307,
    'sports' : 'basketball',
    'height' : 72,
    'shoes' : 'sneakers'
},
    
{
    'name' : 'hayden',
    'gpa' : 3.50,
    'friends' : 335,
    'sports' : 'tennis',
    'height' : 68,
    'shoes' : 'flip_flops'
},
    

{
    'name' : 'charlie',
    'gpa' : 1.1,
    'friends' : 34,
    'sports' : 'baseball',
    'height' : 61,
    'shoes' : 'flip_flops'
},
    

{
    'name' : 'kamryn',
    'gpa' : 2.18,
    'friends' : 200,
    'sports' : 'soccer',
    'height' : 66,
    'shoes' : 'sneakers'
},
    

{
    'name' : 'emerson',
    'gpa' : 3.06,
    'friends' : 213,
    'sports' : 'soccer',
    'height' : 65,
    'shoes' : 'sneakers'
},
    

{
    'name' : 'jessie',
    'gpa' : 2.41,
    'friends' : 202,
    'sports' : 'basketball',
    'height' : 61,
    'shoes' : 'flip_flops'
},
    

{
    'name' : 'sawyer',
    'gpa' : 2.96,
    'friends' : 314,
    'sports' : 'tennis',
    'height' : 67,
    'shoes' : 'flip_flops'
},
    

{
    'name' : 'london',
    'gpa' : 3.98,
    'friends' : 436,
    'sports' : 'soccer',
    'height' : 64,
    'shoes' : 'sneakers'
},


]
stick_figures

[{'name': 'dakota',
  'gpa': 3.15,
  'friends': 307,
  'sports': 'basketball',
  'height': 72,
  'shoes': 'sneakers'},
 {'name': 'hayden',
  'gpa': 3.5,
  'friends': 335,
  'sports': 'tennis',
  'height': 68,
  'shoes': 'flip_flops'},
 {'name': 'charlie',
  'gpa': 1.1,
  'friends': 34,
  'sports': 'baseball',
  'height': 61,
  'shoes': 'flip_flops'},
 {'name': 'kamryn',
  'gpa': 2.18,
  'friends': 200,
  'sports': 'soccer',
  'height': 66,
  'shoes': 'sneakers'},
 {'name': 'emerson',
  'gpa': 3.06,
  'friends': 213,
  'sports': 'soccer',
  'height': 65,
  'shoes': 'sneakers'},
 {'name': 'jessie',
  'gpa': 2.41,
  'friends': 202,
  'sports': 'basketball',
  'height': 61,
  'shoes': 'flip_flops'},
 {'name': 'sawyer',
  'gpa': 2.96,
  'friends': 314,
  'sports': 'tennis',
  'height': 67,
  'shoes': 'flip_flops'},
 {'name': 'london',
  'gpa': 3.98,
  'friends': 436,
  'sports': 'soccer',
  'height': 64,
  'shoes': 'sneakers'}]

What is the mean height of people in our list? First, use pure Python functions (not the statistics module) to calculate this, and output to verify.

*Hint: You may want to put all the heights in a list and then use that for your computations.*

In [43]:
mean_height = [] 
for p in stick_figures:
    mean_height.append(p['height']) 

mean_height

height = [ sum(mean_height) / len(mean_height)]
height

[65.5]

Now, import NumPy (as np) and use its mean function to find the mean of the heights list directly.

In [50]:
import numpy as np
np.mean(height)

65.5

## Dictionary of Lists

Using a dictionary and key/value pairs, represent each attribute (column) of a person as a key and all the values of each attribute as a list. That is, a dictionary of lists. Output the dict to verify.

In [60]:
blah = { 'name' : [p['name'] for p in stick_figures], 
        'height' : [p['height'] for p in stick_figures], 
        'sports' : [p['sports'] for p in stick_figures],
       'gpa' : [p['gpa'] for p in stick_figures]}
blah

np.mean(blah['height'])

65.5

Now use NumPy to get the mean in one statement.

**So, which approach should we use? Or is there a better way? Hmmm...**