# Python Crash Course 2!

# Booleans

In [14]:
x = 4

if x > 6:
    print("True")

# Operators

In [21]:
age = 16 
print (age + 4)

20

In [25]:
age != 12

False

In [27]:
age > 12 
age < 24

True

# Lists

In [32]:
Courses = ['Algebra', 'Physics', 'Python', 'History', 'English', 'Psychology', 'Latin']
print(Courses)

['Algebra', 'Physics', 'Python', 'History', 'English', 'Psychology', 'Latin']

In [6]:
print(Courses[1])

Physics

In [9]:
Courses[4] = 'Literature'
print(Courses)

['Algebra', 'Physics', 'Python', 'History', 'Literature', 'Psychology', 'Latin']

In [11]:
print(Courses[0:2])

['Algebra', 'Physics']

In [21]:
Courses.append('Art')
print(Courses)

['Algebra', 'Physics', 'Python', 'History', 'Literature', 'Psychology', 'Latin', 'Art']

In [22]:
Courses.remove('Art')
print(Courses)

['Algebra', 'Physics', 'Python', 'History', 'Literature', 'Psychology', 'Latin']

In [39]:
Courses.insert(2, 'Lunch')
Courses.pop(0)
print(Courses)

['Python', 'Lunch', 'History', 'English', 'Psychology', 'Latin']

In [36]:
for s in Courses:
    print(s)

Physics
Lunch
Lunch
Python
History
English
Psychology
Latin

In [42]:
Courses.sort()
print(Courses)

['English', 'History', 'Latin', 'Lunch', 'Physics', 'Psychology', 'Python']

In [52]:
mycourses = ['English', 'History', 'Latin', 'Lunch', 'Physics', 'Psychology', 'Python']
Courses = mycourses.copy()
print(mycourses)

['English', 'History', 'Latin', 'Lunch', 'Physics', 'Psychology', 'Python']

In [53]:
mycourses.append("Art")
print(mycourses)
print(Courses)

['English', 'History', 'Latin', 'Lunch', 'Physics', 'Psychology', 'Python', 'Art']
['English', 'History', 'Latin', 'Lunch', 'Physics', 'Psychology', 'Python']

In [58]:
x = Courses.count("History")
print(x)

1

# Tuples

In [59]:
favorite_foods = ('mac_and_cheese', 'pork_chop', 'corn')
print(favorite_foods)

('mac_and_cheese', 'pork_chop', 'corn')

In [60]:
days_of_week = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
print(days_of_week)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

# Sets

In [68]:
types_of_fruits = {'apple', 'banana', 'cherry'}
types_of_fruits.add('avacado')
print(types_of_fruits)
for x in types_of_fruits:
    print(x)
if 'banana' in types_of_fruits:
    print(True)

{'banana', 'apple', 'cherry', 'avacado'}
banana
apple
cherry
avacado
True

# Dictionaries

In [3]:
car1 = {
    "brand" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1964
}
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [24]:
print(car1["model"])

Mustang

In [9]:
car1["color"] = "Blue"
print(car1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Blue'}

In [29]:
for x in car1:
    print(x)

brand
model
year
color

In [15]:
for x, y  in car1.items():
    print(x, y)

brand Ford
model Mustang
year 1964
color Blue

# Loops

In [39]:
for x in range(13, 20):
    print(x)

13
14
15
16
17
18
19

# Conditionals

In [55]:
grade = 91
print("A") if grade >=90 else print("B") if grade >= 80 else print("Neither")

A

# Functions

In [56]:
def changer(x):
    return x // 2 + 7
print(changer(41))
print(changer(12))
print(changer(9))

27
13
11