In [54]:
import pandas as pd

In [3]:
from pandas_profiling import ProfileReport

In [55]:
college = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv')
college

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Question #1 --- How many Majors are in each Major_category?

In [107]:
count = college.groupby('Major_category').Major_category.count()
#count.sort_values()
type(count)

pandas.core.series.Series

Question #2 ---- Find all the majors in health category where the women outnumber the men (not done yet... need to find the ones where women dominate)

In [93]:
Business = college.loc[college.Major_category == 'Business']
Business.loc[Business.ShareWomen >= 0.5]

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
40,41,6201,ACCOUNTING,198633.0,94519.0,104114.0,Business,0.524153,2042,165527,...,27693,123169,12411,0.069749,45000,34000,56000,11417,39323,10886
59,60,6210,INTERNATIONAL BUSINESS,25894.0,10624.0,15270.0,Business,0.589712,260,19660,...,4890,12823,2092,0.096175,40000,30000,50000,3383,9482,3046
77,78,6206,MARKETING AND MARKETING RESEARCH,205211.0,78857.0,126354.0,Business,0.615727,2684,178862,...,35829,127230,11663,0.061215,38000,30000,50000,25320,93889,27968
86,87,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,24497.0,6184.0,18313.0,Business,0.747561,264,20760,...,3767,15446,1315,0.059570,36000,28000,45000,2406,9629,1906
127,128,6211,HOSPITALITY MANAGEMENT,43647.0,15204.0,28443.0,Business,0.651660,546,36728,...,7494,23106,2393,0.061169,33000,25000,42000,2325,23341,9063

Question #3 ---- Find all the majors where women dominate men

In [8]:
women = college.loc[college.ShareWomen >= 0.5]
women

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,1526,...,553,827,33,0.021167,62000,31500,109000,972,500,220
29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,4547,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
34,35,6107,NURSING,209394.0,21773.0,187621.0,Health,0.896019,2554,180903,...,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
39,40,5102,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",2116.0,528.0,1588.0,Physical Sciences,0.750473,31,1778,...,579,1115,137,0.071540,46000,38000,53000,162,1475,124
40,41,6201,ACCOUNTING,198633.0,94519.0,104114.0,Business,0.524153,2042,165527,...,27693,123169,12411,0.069749,45000,34000,56000,11417,39323,10886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Question #4 --- How many people got a fulltime college job thats not minimum wage (need to smooth out and make cleaner)

In [90]:
total = college.iloc[:,3].sum()
#print(total)
 
low_wage = college.iloc[:,-1].sum()
#print(low_wage)

collegejob = college.iloc[:,-3].sum()
#print(collegejob)

fulltime = college.iloc[:,-9].sum()
#print(fulltime)

math = collegejob + fulltime

smart_people = total - math

smart_people

565092.0

Question #5 --- Create a new column called ShareMen next to the ShareWomen and plug in the share of men for each major

In [16]:
college['ShareMen'] = college['Men'] / college['Total']
college = college[['Rank','Major_code','Major','Total','Men','Women','Major_category','ShareWomen', 'ShareMen','Sample_size','Employed','Part_time','Full_time_year_round','Unemployed','Unemployment_rate','Median','P25th','P75th','College_jobs','Non_college_jobs','']]
college

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,ShareMen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,0.879436,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,0.898148,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,0.846963,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,0.892687,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,0.658369,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,0.362707,47,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,0.182901,7,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,0.200141,13,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,0.201254,21,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,0.122040,2,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Question #6 ---- Group together the Jobs in Engineering and put them in order from the one with the most people with a college job to least amount with a college job

In [105]:
#Engineering = college.loc([college.Major_category == 'Engineering']
#jobs = college['College_jobs'].sort_values()
#jobs.to_frame()
jobs = college.sort_values(by=['College_jobs'], ascending=False)
engineering = jobs.loc[college.Major_category == 'Engineering']
engineering

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
8,9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,76442,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,10,2408,ELECTRICAL ENGINEERING,81527.0,65511.0,16016.0,Engineering,0.196450,631,61928,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
25,26,2406,CIVIL ENGINEERING,53153.0,41081.0,12072.0,Engineering,0.227118,565,43041,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,44931,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
10,11,2407,COMPUTER ENGINEERING,41542.0,33258.0,8284.0,Engineering,0.199413,399,32506,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
58,59,1401,ARCHITECTURE,46420.0,25463.0,20957.0,Engineering,0.451465,362,34158,...,10206,20026,4366,0.113332,40000,31000,50000,16178,13724,4221
16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,15604,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
11,12,2401,AEROSPACE ENGINEERING,15058.0,12953.0,2105.0,Engineering,0.139793,147,11391,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,10047,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,8587,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,6170,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
28,29,2499,MISCELLANEOUS ENGINEERING,9133.0,7398.0,1735.0,Engineering,0.189970,118,7428,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,3307,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
65,66,2599,MISCELLANEOUS ENGINEERING TECHNOLOGIES,8804.0,7043.0,1761.0,Engineering,0.200023,125,7502,...,1240,5825,416,0.052539,40000,30400,56000,2446,3896,386
14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,4321.0,3526.0,795.0,Engineering,0.183985,30,3608,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
30,31,2410,ENVIRONMENTAL ENGINEERING,4047.0,2662.0,1385.0,Engineering,0.342229,26,2983,...,930,1951,308,0.093589,50000,42000,56000,2028,830,260
23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,2449,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
66,67,2504,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,4790.0,4419.0,371.0,Engineering,0.077453,71,4186,...,247,3607,250,0.056357,40000,27000,52000,1861,2121,406
18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,2575,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,4631.0,3477.0,1154.0,Engineering,0.249190,73,4428,...,597,3242,129,0.028308,46000,35000,65000,1394,2454,480
5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,1857,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
31,32,2500,ENGINEERING TECHNOLOGIES,3600.0,2695.0,905.0,Engineering,0.251389,39,2799,...,689,1723,163,0.055030,50000,43000,60000,1017,1269,142
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
33,34,2411,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,720.0,488.0,232.0,Engineering,0.322222,5,604,...,126,396,49,0.075038,50000,42800,57000,501,50,49
50,51,2501,ENGINEERING AND INDUSTRIAL MANAGEMENT,2906.0,2400.0,506.0,Engineering,0.174123,29,2125,...,462,1358,74,0.033652,44000,30000,50000,482,844,245
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50

In [70]:
jobs = college['College_jobs']
jobs.sort_values()

73          0
39        162
75        221
172       288
120       346
        ...
113     82007
123     88232
138    108085
145    125148
34     151643
Name: College_jobs, Length: 173, dtype: int64

find correlation betweeen employed and not employed for all the majors in Biology and life science

In [28]:
Bio = college.loc[college.Major_category == 'Biology & Life Science']
Correlation = Bio['Employed'].corr(Bio['Unemployed'])
Correlation

0.9991520033202033