# Python Project

In [2]:
import pandas as pd

In [2]:
from pandas_profiling import ProfileReport

In [79]:
college = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv')
college

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Question #1

how many majors in each category

In [17]:
count = college.groupby('Major_category').Major_category.count()
count.sort_values()

Major_category
Interdisciplinary                       1
Communications & Journalism             4
Law & Public Policy                     5
Industrial Arts & Consumer Services     7
Arts                                    8
Psychology & Social Work                9
Social Science                          9
Agriculture & Natural Resources        10
Physical Sciences                      10
Computers & Mathematics                11
Health                                 12
Business                               13
Biology & Life Science                 14
Humanities & Liberal Arts              15
Education                              16
Engineering                            29
Name: Major_category, dtype: int64

Question #2

all majors in health category all majors where women outnumber the men

In [33]:
health = college.loc[college.Major_category == 'Health']
health

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
34,35,6107,NURSING,209394.0,21773.0,187621.0,Health,0.896019,2554,180903,...,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
44,45,6105,MEDICAL TECHNOLOGIES TECHNICIANS,15914.0,3916.0,11998.0,Health,0.753927,190,13150,...,2665,9005,505,0.036983,45000,36000,50000,5546,7176,1002
51,52,6104,MEDICAL ASSISTING SERVICES,11123.0,803.0,10320.0,Health,0.927807,67,9168,...,4107,4290,407,0.042507,42000,30000,65000,2091,6948,1270
60,61,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,23551.0,8697.0,14854.0,Health,0.630716,38,16620,...,5346,9131,977,0.055521,40000,20000,90000,11573,4493,1121
88,89,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,13386.0,1589.0,11797.0,Health,0.881294,81,10076,...,4145,5868,893,0.081411,36000,23000,42000,5652,3835,1422
103,104,4002,NUTRITION SCIENCES,18909.0,2563.0,16346.0,Health,0.864456,118,13217,...,6648,6625,975,0.068701,35000,26000,45000,6535,5473,2449
104,105,6103,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,18109.0,4266.0,13843.0,Health,0.764427,184,15419,...,3299,10982,1518,0.089626,35000,27000,42000,2589,8592,1391
118,119,6110,COMMUNITY AND PUBLIC HEALTH,19735.0,4103.0,15632.0,Health,0.792095,130,14512,...,6377,7460,1833,0.112144,34000,21000,45000,5225,7385,1854
121,122,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,12740.0,5521.0,7219.0,Health,0.566641,31,7052,...,3891,3236,529,0.069780,33500,23000,40000,3051,3539,1159
126,127,6109,TREATMENT THERAPY PROFESSIONS,48491.0,13487.0,35004.0,Health,0.721866,224,37861,...,12346,21735,2409,0.059821,33000,24000,41000,22215,14616,4468
134,135,6100,GENERAL MEDICAL AND HEALTH SERVICES,33599.0,7574.0,26025.0,Health,0.774577,202,24406,...,11088,12809,2183,0.082102,32400,25000,45000,9364,12889,3816
163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,29763,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125

A person wants to go into Biology and Life Science. print the name of which major would be better to go into based on which has the highest amount of employed full time year round people.

In [99]:
bio = college.loc[college.Major_category == 'Biology & Life Science']
bio

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
48,49,3607,PHARMACOLOGY,1762.0,515.0,1247.0,Biology & Life Science,0.707719,3,1144,...,532,565,107,0.085532,45000,40000,45000,603,478,93
54,55,4006,COGNITIVE SCIENCE AND BIOPSYCHOLOGY,3831.0,1667.0,2164.0,Biology & Life Science,0.564866,25,2741,...,711,1584,223,0.075236,41000,20000,60000,1369,921,135
61,62,3603,MOLECULAR BIOLOGY,18300.0,7426.0,10874.0,Biology & Life Science,0.594208,90,11581,...,4590,6183,1067,0.084361,40000,29000,47000,7225,3145,1168
67,68,3605,GENETICS,3635.0,1761.0,1874.0,Biology & Life Science,0.515543,11,2463,...,847,1487,87,0.034118,40000,34000,45000,1675,678,201
80,81,3606,MICROBIOLOGY,15232.0,6383.0,8849.0,Biology & Life Science,0.580948,62,9685,...,3379,5080,693,0.066776,38000,29600,50000,5577,3174,1246
82,83,3601,BIOCHEMICAL SCIENCES,39107.0,18951.0,20156.0,Biology & Life Science,0.515406,174,25678,...,9948,13785,2249,0.080531,37400,29000,50000,15654,8394,3012
83,84,3602,BOTANY,1329.0,626.0,703.0,Biology & Life Science,0.528969,9,1010,...,169,740,0,0.000000,37000,26000,40000,677,184,56
92,93,1301,ENVIRONMENTAL SCIENCE,25965.0,10787.0,15178.0,Biology & Life Science,0.584556,225,20859,...,7071,10916,1779,0.078585,35600,25000,40200,8149,10076,3175
101,102,3608,PHYSIOLOGY,22060.0,8422.0,13638.0,Biology & Life Science,0.618223,99,14643,...,6541,7588,1088,0.069163,35000,20000,50000,6587,6894,2237
108,109,3611,NEUROSCIENCE,13663.0,4944.0,8719.0,Biology & Life Science,0.638147,53,9087,...,3078,5482,463,0.048482,35000,30000,44000,5605,2301,902
122,123,3699,MISCELLANEOUS BIOLOGY,10706.0,4747.0,5959.0,Biology & Life Science,0.556604,63,7767,...,2568,4542,483,0.058545,33500,23000,48000,4253,2722,459
123,124,3600,BIOLOGY,280709.0,111762.0,168947.0,Biology & Life Science,0.601858,1370,182295,...,72371,100336,13874,0.070725,33400,24000,45000,88232,81109,28339
132,133,3604,ECOLOGY,9154.0,3878.0,5276.0,Biology & Life Science,0.576360,86,7585,...,2741,3912,437,0.054475,33000,23000,42000,2856,4159,976
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743

Find all the majors where women dominate men

In [134]:
womenrock = college.loc[college.ShareWomen >= 0.5]

now = womenrock.Major.to_frame()
now

                                                 Major
7                           ASTRONOMY AND ASTROPHYSICS
29                                       PUBLIC POLICY
34                                             NURSING
39   NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
40                                          ACCOUNTING
..                                                 ...
168                                            ZOOLOGY
169                             EDUCATIONAL PSYCHOLOGY
170                                CLINICAL PSYCHOLOGY
171                              COUNSELING PSYCHOLOGY
172                                    LIBRARY SCIENCE

[96 rows x 1 columns]

difference between the first and last ranked majors unemployed people

In [77]:
first = college.iloc[0,12]

last = college.iloc[-1, 12]
print(first,last)
# print(first,last)
difference = first - last
difference

1207 410

797

Question #4

 how many people got a full time college job thats no low wage

In [116]:
total = college.iloc[:,3].sum()
#print(total)
 
low_wage = college.iloc[:,-1].sum()
#print(low_wage)

collegejob = college.iloc[:,-3].sum()
#print(collegejob)

fulltime = college.iloc[:,-9].sum()
#print(fulltime)

best = low_wage + collegejob + fulltime

bestbest = total - best

bestbest

565092.0

Question #5